@import url('https://fonts.googleapis.com/css?family=Kalam|Oswald|Raleway&display=swap');
//Fonts
$primary-font: 'Raleway', sans-serif;
$heading-font: 'Oswald', sans-serif;
$script-font: 'Kalam', cursive;

//Colors
$navy-blue: #096099;