* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form {
    margin: 10px auto;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.part1 {
    margin-bottom: 10px;
}

.part1 span {
    margin-bottom: 5px;
}

.part1 input {
    margin-bottom: 5px;
    max-width: 200px;
    min-width: 100px;
    height: 20px;
}

.part2 div {
    margin-right: 30px;
    height: 30px;
    text-align: left;
}

.part2 input {
    margin-right: 5px;
}

.other {
    margin-left: 0;
}

.other input {
    width: 150px;
    height: 20px;
}

.other span {
    margin-right: 3px;
}

.body {
    margin-bottom: 10px;
}

.body span {
    margin-bottom: 5px;
}

.body textarea {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 200px;
}

.mainform {
    width: 50%;
    margin: 10px auto;
    display: inline-block;
    left: 50%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.email {
    position: relative;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: solid 1px #383838;
    color: #383838;
    -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    margin-top: 20px;
}

.email:valid,
.email:focus {
    background-position: 0 0;
    outline: none;
}

.label_form {
    position: absolute;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#first_name {
    -webkit-transform: translate(-45px);
    transform: translate(-45px);
    top: 8px;
}

#last_name {
    top: 56px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
}
#email{
        top: 104px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
}
#numb{
        top: 148px;
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
}
.visable {
    opacity: 1 !important;
    -webkit-transform: translate(0) !important;
    transform: translate(0) !important;
}
