#intro {
    padding-top: 27px;
    padding-bottom: 27px;
}

.container {
    width: 75%;
    margin: auto;
}

.banner {
    margin-bottom: 0px;
}

main section {
    cursor: pointer;
}

.studentwork {}

.studentwork a {
    color: #fff;

}

.studentwork h3 {
    margin: 0;
}

.studentwork p {
    margin: 0;
}

.studentwork article {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 2em;
    width: 33.33%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.studentwork article p {
    font-size: 1em;
}

.studentwork article h3 {
    font-size: 2em;
    margin-bottom: 10px;

}

.studentwork img {
    /*
float: left;*/
    width: 33.33%;
}


.studentwork a img {
    /*
background: #fff;
*/
}

.studentworkTile {
    background: #fff;
    width: 33.33%;
    /*
float: left;*/
}

.studentworkTile img {

    -webkit-transition: all 500ms;

    transition: all 500ms;
    opacity: .4;
    width: 50%;
}

.studentworkTile img:hover {


    opacity: 0.8;
}

.only_img:hover {
    opacity: 0.8;
}

.only_img {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    background: white;
    /*
    width: auto !important;*/
}

.only_info {
    width: 59.33% !important;
}

.center_ver {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.modal-body img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50%;

}

.modal-footer {
    height: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-footer img {
    height: 75px;
    cursor: pointer;
    width: auto !important;
    padding-right: 2.5px;
    padding-left: 2.5px;

}

img {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blue_background div:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.modal-body span:first-child,
.modal-body span:last-child {
    color: #666;
    z-index: 999;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.modal-body span:last-child {
    right: 15px;
}

.modal-dialog {
    width: 73%;
}

.modal-header {
    padding: 0;
    padding-right: 5px;
    border-bottom: 0px;
}

.modal-header .close {
    margin-top: 0;
    font-size: 31px;

}

.projects_grid img {
    height: 200px;

}
