#intro {
    padding-top: 27px;
    padding-bottom: 27px;
}

.container {
    width: 75%;
    margin: auto;
}

.banner {
    margin-bottom: 0px;
}

main section {
    cursor: pointer;
}

.studentwork {
    color: #fff;
    margin: 0;
    width: 100%;
    /*
float: left;
*/
    /* background: #c4003e;*/
    /*
background: #3094d6;
*/
}

.studentwork a {
    color: #fff;

}

.studentwork h3 {
    margin: 0;
}

.studentwork p {
    margin: 0;
}

.studentwork article {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 2em;
    width: 33.33%;
    text-align: center;
    /*
float: left;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.studentwork article p {
    font-size: 1em;
}

.studentwork article h3 {
    font-size: 2em;
    margin-bottom: 10px;

}

.studentwork img {
    /*
float: left;*/
    width: 33.33%;
}

.studentwork a img {
    /*
background: #fff;
*/
}

.studentworkTile {
    background: #fff;
    width: 33.33%;
    /*
float: left;*/
}

.studentworkTile img {

    -webkit-transition: all 500ms;

    transition: all 500ms;
    opacity: .4;
    width: 50%;
}

.studentworkTile img:hover {


    opacity: 0.8;
}
