@import url('https://fonts.googleapis.com/css?family=Kalam|Raleway');
@import url('https://fonts.googleapis.com/css?family=Muli');
a {
    -webkit-text-decoration-style: none;
    text-decoration-style: none;
}

.aoatfont {
    font-family: 'Muli', sans-serif;
}

.blue_background {
    background: #50addd;
    color: white;
}

.purple_background {
    background: #5e238a;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.transparent_nav .navbar-nav > li > a {
    color: #096099;
}

.navbar-default .navbar-brand > img:nth-child(2) {
    display: none;
}

.transparent_nav .navbar-brand > img:nth-child(1) {
    display: none;
}

.transparent_nav .navbar-brand > img:nth-child(2) {
    display: block;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #5bc0de;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #5bc0de;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
}

.navbar-default {
    background-color: #096099;
    /*    background-color: #48469c;*/
    border: none;
    margin-bottom: 0px;
}

main {
    /*    background-color: #cbcccd;*/
    background-color: #fff;
}

.navbar-brand {
    padding: 5px;
}

.remove_padding {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand img {
    height: 32px;
    margin-top: 4px;
}

.AOATfooter {
    height: 48px;
    margin: 5px 0px 10px 0px;
}

.homeimage_effect {
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.homeimage {
    z-index: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
    /*    top: 500px;*/
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.homeimage h1 {
    z-index: 9999;
}

.landing h1 {
    color: #0484d8;
}

.landing div {
    color: #3a6582;
}

.landing p {
    color: #014775;
}

.homeimage:hover .homeimage_effect {
    opacity: .7;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.homeimage img {
    opacity: .3;
    width: 100%;
}

.absolute-text {
    position: absolute;
    margin: auto;
    width: 100%;
}

.absolute-text:not(:first-child) img {
    width: 40px;
    opacity: 1;
}

.btn-primary {
    background-color: #b69cc9;
    border: none;
}

.btn-primary:hover {
    background-color: #776b82;
}

.aboutAOAT {
    /*    background-color: #b69cc9;*/
    background-color: whitesmoke;
    top: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.main {
    z-index: 9999 !important;
    position: relative;
    /*
        position: fixed;
*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*    top: 500px;*/
}

.landing {
    position: fixed;
    /*
    position: absolute;
*/
    z-index: 1 !important;
    overflow: hidden;
}

.home_nav {
    position: fixed;
    width: 100%;
    z-index: 99999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.transparent_nav {
    background-color: transparent!important;
}

.transparent_nav .active a {
    background-color: rgba(231, 231, 231, 0.8) !important;
    border-radius: 2px;
}

.active a {
    -webkit-transition: 1;
    transition: 1;
}

.arrow {
    text-align: center;
    position: relative;
    top: 33px;
}

.arrow button {
    background: transparent;
    border: 0px;
}

.arrow button:focus {
    outline: 0;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

#aboutAOAT_AT {
    bottom: 19%;
}

.copyrights {
    text-align: left;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
}

@media (max-width: 640px) {
    .copyrights {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .partnership {
        text-align: center;
    }
}

#news_AT {
    color: white;
    bottom: 40%;
}

#teacher_AT {
    top: -150px;
    width: inherit;
}

#studentwork_AT {
    bottom: 110px;
    width: inherit;
}

#teacher {
    background-color: #41b09b;
    width: 100%;
    float: left;
}

#studentwork {
    background-color: #8a0add;
    width: 100%;
    float: left;
}

#about {
    /*    background: url(../images/banners/BannerPlaceholderLG.png);
    */
    /*background-position: center;*/
    overflow: hidden;
}

#about div {
    background: rgba(72, 70, 156, 0.75);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

#about img {
    width: 100%;
    /*
    height: 100%;
*/
    z-index: 0;
    -webkit-transform: translateY(-255px) scaleY(0.9);
    transform: translateY(-255px) scaleY(0.9);
    /*-webkit-filter: blur(3px);
    filter: blur(3px);*/
}

#aboutEvents {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#teachers {
    overflow: hidden;
    /*
    background: url(../images/teachers/teacher_cover.jpg);
    background-position: center;
*/
}

#teachers div {
    /*   background: rgba(72, 70, 156, 0.75);*/
    background: rgba(255, 189, 189, 0.61);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

#teachers img {
    width: 100%;
    z-index: 0;
}

@media (max-width: 1236px) {
    #teachers img {
        -webkit-transform: translateY(-194px) scaleY(0.9);
        transform: translateY(-194px) scaleY(0.9);
    }
}

@media screen and (min-width: 1236px) {
    #teachers img {
        -webkit-transform: translateY(-304px) scaleY(0.9);
        transform: translateY(-304px) scaleY(0.9);
    }
}

#academics {

    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(182, 156, 201, 0.45))), url(../images/banners/academic.jpg);

    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(182, 156, 201, 0.45)), url(../images/banners/academic.jpg);
    background-size: cover;
    background-position: center;
}

#graphicDesign {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalPhotography {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalIllustration {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalImaging {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#calendar {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

.banner {
    width: 100%;
    height: 300px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.banner h2 {
    position: absolute;
    /* left: 15px;
    bottom: -3px;
*/
    left: 16px;
    z-index: 3;
    bottom: 0;
    font-weight: 500;
}

.news {
    background-color: #009cd5;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

footer {
    padding-top: 20px;
    background-color: #096099;
    /*    background-color: #48469c;*/
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}

.aoatfont span {
    cursor: pointer;
}

footer b,
footer span {
    cursor: default;
}

footer a:hover {
    text-decoration: none;
}

.bottom-footer {
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 12px;
    font-weight: 500;
}

.footer-nav {
    text-align: left;
    list-style: none;
    padding: 0px;
    font-size: 12px
}

.footer-nav li > a {
    color: #9dd1d9;
}

.footer-nav li {
    color: #9dd1d9;
    /*    background-color: #48469c;
    */
    display: inline;
}

address {
    line-height: 1.2;
}

address > a {
    color: #fff;
}

address > a:hover {
    color: #9dd1d9;
}

.socialmedia img {
    height: 30px;
    margin-right: 5px;
    margin-bottom: 10px
}

.socialmedia img:hover {
    opacity: .65;
}

.partnership img {
    height: 50px;
    margin-top: 4px;
    margin-left: 5px;
}

.footer-nav li:not(:first-child):before {
    content: "|";
    padding: 0px 2px;
}

.content_main {
    /*
    background-color: #e8e8e8;
*/
    /*
    background-color: #cbcccd;
*/
    padding-bottom: 15px;
    min-height: 730px;
}

.navbar {
    border-radius: 0 !important;
}

@media screen and (max-width: 1440px) {
    .lockcontent {
        max-width: 1440px;
    }
}

.lockcontent {
    max-width: 1024px;
    margin: auto;
}

.upcoming_events h1 {
    padding-bottom: 3px;
    margin-top: 2px;
    color: #009cd5;
    text-align: center;
    /*    font-family: 'RalewayBlack', sans-serif;*/
    border-bottom: 4px solid #8a0add;
    font-weight: 600;
    font-size: 35px;
}

.upcoming_events:not(:first-child) {
    background-color: #fff;
    padding: 10px;
}

.upcoming_events ul {
    padding-left: 0px;
}

.upcoming_events li {
    margin-top: 2px;
    padding-bottom: 2px;
    border-bottom: thin solid #999;
    font-family: 'RalewayBlack', sans-serif;
    font-size: 18px;
    list-style: none;
    color: #8a0add;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upcoming_events a {
    color: #6fb845
}

.event_month {
    font-size: 15px;
    color: #b69cc9;
    font-family: inherit;
}

.num {
    font-size: 29px;
    color: #000;
    margin-top: -10px;
    font-family: inherit;
}

.date {
    font-family: 'Raleway', sans-serif;
    width: 55px;
    text-align: center;
    margin-right: 20px;
}

.event {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.polaroid {
    position: relative;
    text-align: center;
    margin: 5px 15px 12px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid:hover {
    -webkit-box-shadow: 0 9px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.3);
}

.polaroid img {
    border: 7px solid #fff;
    border-bottom: 45px solid #fff;
}

.polaroid p {
    color: #000;
    font-size: 18px;
    font-family: 'Kalam', Brush Script MT, cursive;
    width: 100%;
    bottom: -2px;
    position: absolute;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    /*    background-color: #cbcccd;*/
}

.gallery_col a {
    text-decoration: none;
}

.gallery_col a:hover {
    opacity: .6;
}

.gallery_col img {
    height: 248px;
    margin-bottom: 5px;
}

main {
    margin: auto;
}

@media screen and (min-width: 1440px) {
    .gallery_col img {
        height: 236px;
    }
}

@media screen and (max-width: 767px) {
    .gallery_col {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 5px;
        /* Chrome, Safari, Opera */
        /* Firefox */
        column-gap: 5px;
    }
    .gallery_col img {
        width: 100%;
        height: auto;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #9dd1d9;
    }
}

.thumbnails img {
    display: block;
}

.line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.teachers_columns {
    -webkit-column-count: 1;
    column-count: 1;
}

.two-col-li {
    -webkit-column-count: 2;
    column-count: 2;
}

.swthumb a img:hover {
    opacity: .65;
}

.flex_b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}



@media screen and (min-width: 768px) {
    .teachers_columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
    .swthumb a {
        float: left;
        width: 25%;
        padding-right: 8px;
        margin-bottom: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .swthumb {
        margin-right: -8px;
    }
    #teacher {
        width: 50%;
        float: left;
    }
    #studentwork {
        width: 50%;
        float: left;
    }
    .flex {
        display: block;
    }
    #teacher_AT {
        bottom: 110px;
        top: 125px;
        width: inherit;
    }
    #studentwork_AT {
        bottom: 110px;
        top: 125px;
        width: inherit;
    }
}

.bio_block {
    width: 100%;
    height: auto;
    -webkit-column-fill: auto;
    column-fill: auto;
    padding: 10px;
    border-bottom: thin solid #3a63b1;
    display: table;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.bio_block a,
p,
button {
    font-family: 'Raleway', sans-serif;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    background-color: transparent;
}
