#curriculum section > button {
    right: 0;
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: relative;
}

#curriculum_main {
    margin-bottom: 10px;
}

.club_name {
    text-align: center;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img {
    width: 300px;
    height: 200px;
    margin-left: 4%;
    margin-top: 1%;
    margin-right: 7%;
}

.reverse_img {
    width: 300px;
    height: 200px;
    margin-right: 5%;
    margin-left: 9%;
}

@media screen and (max-width: 705px) {
    .flex_b {
        display: block;
    }

    .img {

        margin-left: auto;
        margin-top: 1%;
        margin-right: auto;
    }

    .reverse_img {
        margin-bottom: 1%;

        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .img,
    .reverse_img {
        position: relative;
        text-align: center;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

    }
}
