@import url('https://fonts.googleapis.com/css?family=Kalam|Raleway');
@import url('https://fonts.googleapis.com/css?family=Muli');
a {
    -webkit-text-decoration-style: none;
    text-decoration-style: none;
}

.aoatfont {
    font-family: 'Muli', sans-serif;
}

.lightbluetxt {
    color: #c5e8ff;

}

.padding_up {
    padding-top: 13px;
}

.padding_bottom {
    padding-bottom: 13px;
}

.center_nav {
    width: 831px;
    margin: auto;
}

@media (max-width: 828px) {
    .center_nav {
        width: auto;
        margin: auto;
    }
}

.justify {
    text-align: justify;
}

.nobullet_points {
    list-style: none;
}

.removelinkstyle {
    color: unset;

}

.removelinkstyle:hover {

    text-decoration: none;
}

.hoverwhite:hover {
    color: #ddd;
}

.gray_txt {
    color: #979797;
}

.pointer {
    cursor: pointer;
}

#first_section {
    margin-bottom: 10px;
    margin-top: 25px;
}

.remove_max {
    max-width: unset;
}

.blue_background {
    /*    background: #50addd;
    */
    background: #3094d6;
    color: white;
}

.white_background {

    background: white;

}

.white_txt {

    color: white;
}

.white_txt:hover {

    color: white;
}

@media screen and (max-width: 705px) {

    .sec_img {
        position: relative;
        text-align: center;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

    }
}

/*
.purple_background {
    background: #5e238a;
    color: white;
}
*/

.navbar-default .navbar-nav > li > a {
    color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.transparent_nav .navbar-nav > li > a {
    color: #096099;
}

.navbar-default .navbar-brand > img:nth-child(2) {
    display: none;
}

.transparent_nav .navbar-brand > img:nth-child(1) {
    display: none;
}

.transparent_nav .navbar-brand > img:nth-child(2) {
    display: block;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #5bc0de;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #5bc0de;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
}

.navbar-default {
    background-color: #096099;
    /*    background-color: #48469c;*/
    border: none;
    margin-bottom: 0px;
}



main {
    /*    background-color: #cbcccd;*/
    background-color: #fff;
}

.navbar-brand {
    padding: 5px;
}

.remove_padding {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand img {
    height: 32px;
    margin-top: 4px;
}

.AOATfooter {
    height: 48px;
    margin: 5px 0px 10px 0px;
}

.homeimage_effect {
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.homeimage {
    z-index: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
    /*    top: 500px;*/
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.homeimage h1 {
    z-index: 9999;
}

.landing h1 {
    color: #0484d8;
}

.landing div {
    color: #3a6582;
}

.landing p {
    color: #014775;
}

.homeimage:hover .homeimage_effect {
    opacity: .7;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.homeimage img {
    opacity: .3;
    width: 100%;
}

.absolute-text {
    position: absolute;
    margin: auto;
    width: 100%;
}

.absolute-text:not(:first-child) img {
    width: 40px;
    opacity: 1;
}

.btn-primary {
    background-color: #b69cc9;
    border: none;
}

.btn-primary:hover {
    background-color: #776b82;
}

.aboutAOAT {


    /*    background-color: #b69cc9;*/
    background-color: whitesmoke;
    top: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.landing {
    -webkit-transition: 0s;
    transition: 0s;
    height: 100vh;
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(216, 216, 216, 0.57)), to(rgba(216, 216, 216, 0.57))), url(../images/home/AboutAOAT.jpg);
    background: linear-gradient( rgba(216, 216, 216, 0.57), rgba(216, 216, 216, 0.57)), url(../images/home/AboutAOAT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    background-attachment: fixed;

}

@media (max-width: 1116px) {
    .landing {
        height: 60vh;
        background-size: contain;
    }

}

@media (max-width: 920px) {
    .landing {
        height: 50vh;
    }

}

@media (max-width: 784px) {
    .landing {
        height: 45vh;
    }
    .landing div {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media (max-width: 696px) {
    .landing {
        height: 35vh;
        background-size: cover;
        background-attachment: scroll;
    }


}

.home_nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.transparent_nav {

    background-color: transparent!important;
    /*
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.69)), color-stop(rgba(255, 255, 255, 0.48)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient( rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0));
*/
}

.transparent_nav .active a {
    background-color: rgba(231, 231, 231, 0.8) !important;
    border-radius: 2px;
}

.active a {
    -webkit-transition: 1;
    transition: 1;
}

.arrow {
    text-align: center;
    position: relative;
    top: 33px;
}

.arrow button {
    background: transparent;
    border: 0px;
}

.arrow button:focus {
    outline: 0;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

#aboutAOAT_AT {
    bottom: 19%;

    -webkit-transition: all 1s;

    transition: all 1s;

}

.copyrights {
    text-align: left;
    -webkit-transform: translateY(35px);
    transform: translateY(35px);
}

@media (max-width: 640px) {
    .copyrights {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .partnership {
        text-align: center;
    }
}

#news_AT {
    color: white;
    bottom: 40%;
}

#teacher_AT {
    top: -150px;
    width: inherit;
}

#studentwork_AT {
    bottom: 110px;
    width: inherit;
}

#teacher {
    background-color: #41b09b;
    width: 100%;
    float: left;
}

#studentwork {
    background-color: #8a0add;
    width: 100%;
    float: left;
}

#about {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(76, 185, 212, 0.39))), url(../images/banners/about_banner2.jpg);
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(76, 185, 212, 0.39)), url(../images/banners/about_banner2.jpg);
    background-size: cover;
    background-position: center right;
}

#clubs {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(76, 185, 212, 0))), url(../images/banners/clubs.jpg);
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(76, 185, 212, 0)), url(../images/banners/clubs.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#contact {

    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(76, 185, 212, 0.37))), url(../images/contact/keyboard-2418525.jpg);

    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(76, 185, 212, 0.37)), url(../images/contact/keyboard-2418525.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#student_work {

    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(76, 185, 212, 0.67))), url(../images/studentworkdillCover.jpg);

    background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(76, 185, 212, 0.67)), url(../images/studentworkdillCover.jpg);
    background-position: center;
    background-size: contain;

    overflow: hidden;
}

#alumni {
    /*    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(76, 185, 212, 0.39))),
    url(../images/banners/BannerPlaceholderLG.png);
    */
    /*    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(76, 185, 212, 0.39)), url(../images/alumni/cover.jpg);*/
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(216, 216, 216, 0.57)), to(rgba(216, 216, 216, 0.57))), url(../images/home/AboutAOAT.jpg);
    background: linear-gradient( rgba(216, 216, 216, 0.57), rgba(216, 216, 216, 0.57)), url(../images/home/AboutAOAT.jpg);
    /*    background-position: bottom right;
    */
    background-size: cover;
    overflow: hidden;
}


#aboutEvents {

    background: -webkit-gradient( rgba(255, 255, 255, 0.64), rgba(76, 185, 212, 0.22)), url(../images/banners/events.jpg);
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.64)), to(rgba(76, 185, 212, 0.22))), url(../images/banners/events.jpg);
    background: linear-gradient( rgba(255, 255, 255, 0.64), rgba(76, 185, 212, 0.22)), url(../images/banners/events.jpg);
    background-position: center;
    background-size: cover;
}

#teachers {
    background: -webkit-gradient( rgba(255, 255, 255, 0.87), rgba(175, 175, 175, 0), rgba(76, 185, 212, 0.06)), url(../images/teachers/teacher_cover2.jpg);
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.87)), color-stop(rgba(175, 175, 175, 0)), to(rgba(76, 185, 212, 0.06))), url(../images/teachers/teacher_cover2.jpg);
    background: linear-gradient( rgba(255, 255, 255, 0.87), rgba(175, 175, 175, 0), rgba(76, 185, 212, 0.06)), url(../images/teachers/teacher_cover2.jpg);
    background-position: top center;
    background-size: cover;

}



#teachers img {
    width: 100%;
    z-index: 0;
}

@media (max-width: 1236px) {
    #teachers img {
        -webkit-transform: translateY(-194px) scaleY(0.9);
        transform: translateY(-194px) scaleY(0.9);
    }
}

@media screen and (min-width: 1236px) {
    #teachers img {
        -webkit-transform: translateY(-304px) scaleY(0.9);
        transform: translateY(-304px) scaleY(0.9);
    }
}

#academics {

    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(182, 156, 201, 0.45))), url(../images/banners/academic.jpg);

    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(182, 156, 201, 0.45)), url(../images/banners/academic.jpg);
    background-size: cover;
    background-position: center;
}

#graphicDesign {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalPhotography {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalIllustration {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#digitalImaging {
    background: url(../images/banners/BannerPlaceholderLG.png);
    background-position: center;
}

#calendar {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(255, 255, 255, 0.45)), to(rgba(76, 185, 212, 0.2))), url(../images/calender/banner2.jpg);
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(76, 185, 212, 0.2)), url(../images/calender/banner2.jpg);
    background-size: cover;
    background-position: center;
}

.banner {
    width: 100%;
    height: 300px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;


}

.banner div {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.banner h2 {
    position: absolute;
    left: 16px;
    z-index: 3;
    bottom: 0;
    font-weight: 500;
}

.news {
    background-color: #009cd5;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

footer {
    padding-top: 20px;
    background-color: #096099;
    /*    background-color: #48469c;*/
    color: #fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}

.aoatfont span {
    cursor: pointer;
}

footer b,
footer span {
    cursor: default;
}

footer a:hover {
    text-decoration: none;
}

.bottom-footer {
    border-top: 1px solid #fff;
    color: #fff;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 12px;
    font-weight: 500;
}

.footer-nav {
    text-align: left;
    list-style: none;
    padding: 0px;
    font-size: 12px
}

.footer-nav li > a {
    color: #9dd1d9;
}

.footer-nav li {
    color: #9dd1d9;
    /*    background-color: #48469c;
    */
    display: inline;
}

address {
    line-height: 1.2;
}

address > a:focus,
address > a {
    color: #fff;
    text-decoration: none;
}

address > a:hover {
    color: #9dd1d9;
}



.socialmedia img {
    height: 30px;
    margin-right: 5px;
    margin-bottom: 10px
}

.socialmedia img:hover {
    opacity: .65;
}

.partnership img {
    height: 50px;
    margin-top: 4px;
    margin-left: 5px;
}

.footer-nav li:not(:first-child):before {
    content: "|";
    padding: 0px 2px;
}

.content_main {
    /*
    background-color: #e8e8e8;
*/
    /*
    background-color: #cbcccd;
*/
    padding-bottom: 15px;
    min-height: 730px;
}

.navbar {
    border-radius: 0 !important;
}

@media screen and (max-width: 1440px) {
    .lockcontent {
        max-width: 1440px;
    }
}

.lockcontent {
    max-width: 1024px;
    margin: auto;
}

.upcoming_events h1 {
    padding-bottom: 3px;
    margin-top: 2px;
    color: #009cd5;
    text-align: center;
    /*    font-family: 'RalewayBlack', sans-serif;*/
    border-bottom: 4px solid #8a0add;
    font-weight: 600;
    font-size: 35px;
}

.upcoming_events:not(:first-child) {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 30px;
}

.upcoming_events ul {
    padding-left: 0px;
}

.upcoming_events li {
    margin-top: 2px;
    padding-bottom: 2px;
    border-bottom: thin solid #999;
    font-family: 'RalewayBlack', sans-serif;
    font-size: 18px;
    list-style: none;
    color: #8a0add;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.no_event {
    border-bottom: thin solid transparent !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px !important;


}

.upcoming_events a {
    color: #6fb845;
    position: absolute;
    bottom: 10px;
}

.event_month {
    font-size: 15px;
    color: #b69cc9;
    font-family: inherit;
}

.num {
    font-size: 29px;
    color: #000;
    margin-top: -10px;
    font-family: inherit;
}

.date {
    font-family: 'Raleway', sans-serif;
    width: 55px;
    text-align: center;
    margin-right: 20px;
}

.event {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.polaroid {
    position: relative;
    text-align: center;
    margin: 5px 15px 12px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid:hover {
    -webkit-box-shadow: 0 9px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.3);
}

.polaroid img {
    border: 7px solid #fff;
    border-bottom: 45px solid #fff;
    max-width: none;
}

.polaroid p {
    color: #000;
    font-size: 108%;
    font-family: 'Kalam', Brush Script MT, cursive;
    width: 100%;
    bottom: -2px;
    position: absolute;
}

@media screen and (max-width: 425px) {
    .polaroid img {
        max-width: 104px;
    }
    .polaroid p {
        font-size: 94%;
    }
}

img {
    max-width: 100%;
    height: auto;
}

body {
    /*    background-color: #cbcccd;*/
}

.gallery_col a {
    text-decoration: none;
}

.gallery_col a:hover {
    opacity: .6;
}

.gallery_col img {
    height: 248px;
    margin-bottom: 5px;
}

main {
    margin: auto;
}

@media screen and (min-width: 1440px) {
    .gallery_col img {
        height: 236px;
    }
}

@media screen and (max-width: 767px) {
    .gallery_col {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 5px;
        /* Chrome, Safari, Opera */
        /* Firefox */
        column-gap: 5px;
    }
    .gallery_col img {
        width: 100%;
        height: auto;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #9dd1d9;
    }

    #studentwork_AT {
        bottom: -900px;
    }
    #teacher_AT {
        top: 174px;
    }
}

@media screen and (max-width: 667px) {
    #studentwork_AT {
        bottom: -795px;
    }
}

@media screen and (max-width: 559px) {
    #studentwork_AT {
        bottom: -600px;
    }
}

@media screen and (max-width: 375px) {
    #studentwork_AT {
        bottom: -500px;
    }
    #teacher_AT {
        top: 74px;
    }
}

@media screen and (max-width: 320px) {
    #studentwork_AT {
        bottom: -400px;
    }
    #teacher_AT {
        top: 20px;
    }
}


.thumbnails img {
    display: block;
}

.line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.teachers_columns {
    -webkit-column-count: 1;
    column-count: 1;
    list-style-position: inside;
}

.two-col-li {
    -webkit-column-count: 2;
    column-count: 2;
}

.swthumb a img:hover {
    opacity: .65;
}

.flex_b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex_row_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}


@media screen and (min-width: 768px) {
    .teachers_columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
    .swthumb a {
        float: left;
        width: 25%;
        padding-right: 8px;
        margin-bottom: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .swthumb {
        margin-right: -8px;
    }
    #teacher {
        width: 50%;
        float: left;
    }
    #studentwork {
        width: 50%;
        float: left;
    }
    .flex {
        display: block;
    }
    #teacher_AT {
        bottom: 110px;
        top: 125px;
        width: inherit;
    }
    #studentwork_AT {
        bottom: 110px;
        top: 125px;
        width: inherit;
    }
}

.bio_block {
    width: 100%;
    height: auto;
    -webkit-column-fill: auto;
    column-fill: auto;
    padding: 10px;
    border-bottom: thin solid #3a63b1;
    display: table;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.bio_block a,
p,
button {
    font-family: 'Raleway', sans-serif;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

/*new layout*/

main,
body {
    background: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.49)), url(/images/background.jpg);

    /*
            background: url(images/shattered/shattered_@2Xb.png);
*/
    /*
            background: url(images/shattered/Newfolder/pw_pattern/pw_pattern_@2X.png);
*/
    /*
            background: url(images/shattered/Newfolder/congruent_outline.png);
*/
    /*
 background: url(images/shattered/Newfolder/whirlpool/whirlpool.png);*/
}

#CPA ~ a {
    margin: auto;
    min-width: 200px;
}

@media (max-width: 767px) {
    #CPA {
        max-width: 100%;
    }

    .wrap_about {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.quoteimg {
    width: 200px;
    height: 200px;

}

.quote {
    /*            background: #0084dabd;*/
    background: rgba(0, 132, 218, 1);
    margin-left: 20px;

    padding: 1em;
}

#quotearea {
    margin-bottom: 20px
}

.quote p {
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.sidebuttons {
    min-width: 200px;
    margin-right: 20px;
}

.sidebuttons button {
    border: 0px;
    height: 40px;
    background: #195379;
    margin-bottom: 10px;
    transition: 100ms;
    color: white;
}

.sidebuttons button:hover {

    background: #007bcc;
}

#info article {
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#info h3,
#info h4 {
    color: #0062a2;
}


.visable {
    display: block !important;
}

.pagetitle {
    color: #023681;
}
